<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Formulario</title>
    <meta name="description" content="Formulario">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div>

        <div>
            <a href="/">Formulario</a>
            <a href="/productos">Vista de Productos</a>
        </div>

        <div>
            <h4>Ingresar un nuevo producto:</h4>
                
            <form id="formulario" method="POST" action="/productos">
                
                <label for="title">Título:</label>
                <input type="text" name="title" id="title" required>
                
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price" required>
                
                <label for="thumbnail">URL de la imagen:</label>
                <input type="text" name="thumbnail" id="thumbnail" required>
                
                <input class="button-primary" type="submit" value="Enviar">
                
            </form>

        </div>

        <script>

            document.getElementById('formulario').onsubmit = () => {

                let titulo = document.getElementById('title').value;
                let precio = document.getElementById('price').value;
                alert('Nuevo producto agregado: \n Título: ' + titulo + '\n Precio: $' + precio)
            };

        </script>
    </div>
</body>

</html>