<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Ejercicio Handlebars</title>
  <meta name="description" content="Vista de productos">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <div>
            <a href="/">Formulario</a>  
            <a href="/productos">Vista de Productos</a>  
        </div>
        <div>
            {{{ body }}}
        </div>
    </div>
</body>
</html>
