<div>

    <h4>Vista de Productos:</h4>

    {{#if productos}}

    <table>

        <thead>
            <tr>
                <th>Nombre:</th>
                <th>Precio:</th>
                <th>Foto:</th>
            </tr>
        </thead>
        <tbody>

            {{#each productos as |producto| }}
            <tr>
                <td> {{ producto.title }} </td>
                <td> $ {{ producto.price }} </td>
                <td> <img src="{{ producto.thumbnail }}"> </td>
            </tr>
            {{/each}}

        </tbody>

    </table>

    {{else}}

    <h5>No se encontraron productos.</h5>

    {{/if}}

</div>